*{
	margin:0;
	padding:0;
}
.left{
	padding:5px;
	margin-top: 20px;
	width: 12%;
	font-size: 20px;
	display: inline-block;
	float: left;
	height: 40px;
	text-align: center;
	margin-left: 20px;
}
.inside{
	height: 30px;
	font-size: 15px;
	padding: 10px 20px;
	cursor: pointer;
}
.right{
	width: 84%;
    float: left;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 20px;
}
.rightlabel{
	width: 68%;
}
.lab{
	font-size: 15px;
	text-align: right;
	width: 18%;
	padding: 0px 10px;
	float: left;
	line-height: 36px;
}
.item{
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}
.txt{
	width: 76%;
	float: left;
	margin-left:10px;
	padding:5px;
	text-align: justify;
	font-size: 14px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
.item>input:hover{
	border: 1px solid #408ec0;
}
.btn{
	width: 100%;
	padding-right:90px;
	opacity: 0.5;
}
.im{
	border-right: 3px solid #408ec0;
	color: #408ec0;
}
.inputTips{
	float: right;
	color: #888;
	font-size: 14px;
	line-height: 20px;
	padding-right: 35px;
}


.formatWrong{
	width: 84%;
	height:40px;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-size: 18px;
	float: left;
	display: none;
	line-height: 40px;

}
button[disabled]{
	cursor: not-allowed;
	opacity: 50%;
}
.txt.time{
	text-align: center;
	background-color: #f6f6f6;
}
.txt.time:hover{
	background-color: #f45757;
	color: #fff;
}
.underline{
	width: 100%;
	color: lightgrey;
	padding:0 20px; 
}
.addParam{
	width: 100%;
	height: 40px;
	margin-top: 5px;
	color: #aaa;
	font-size: 14px;
	line-height: 32px;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
	border: 2px dashed #ddd;
}
.addParam:hover{
	border: 2px dashed #f45757;
	color: #f45757;
}
.btn{
	width: 100%;
	padding-left: 100px;
	padding-top: 20px;
}
.ps{
	font-size: 18px;
}
table{
	width: 100%;
	text-align: center;
}
tr{
	height: 40px;
	border-bottom: 2px solid white;
}
tr:hover{
	background-color: rgba(224, 212, 212, 0.17);
}
td{
	border-right: 1px solid white;
}
.lab.del{
	text-align: center;
	border:2px dashed #ddd;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
.lab.del:hover{
	color: #f45757;
	border: 2px dashed #f45757;
}

.editMask,._editMask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 1005;
	display: none;
}
.edit,._edit{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -270px;
	width: 500px;
	height: 540px;
	overflow: auto;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
	display: none;

}
.editTitle,._editTitle{
	background-color: #f45757;
	padding: 0 10px;
	color: #fff;
	font-size: 16px;
	line-height: 36px;

}
.close{
	float: right;
	cursor: pointer;
}
.fa{
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;

}
.editBody{
	width: 100%;
	padding: 10px;
	padding-bottom: 20px;
}
.items{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.editleft{
	float: left;
	width: 20%;
	padding: 5px 10px;
	text-align: right;
	color: #f45757;
	font-size: 14px;
}
.editright{
	float: left;
	width: 76%;
	padding: 5px;
	text-align: justify;
	color: #2b2b2b;
	font-size: 14px;
}
.editright [type='text']{
	width: 100%;
	padding: 5px 10px;
	color: #2b2b2b;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	border: 1px solid #ddd;
}
.editImg{
	width: 60%;
	margin: 0 auto;
	height: 60%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}
.footer{
	width: 80%;
	margin: 0 auto;
	background-color: #f45757;
	height: 35px;
	line-height: 35px;
	color: #fff;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 15px;
}
textarea{
	height: 200px;
	width: 100%;
	resize: none;
}
.replayBtn{
	width: 150px;
	margin:0 auto;
}
#search{
	width: 100px;
	font-size: 14px;
	background: #f6f6f6;
	border-radius: 3px;

}
.cancel{
	float: right;
	color: #888;
	font-size: 14px;
	line-height: 26px;
	cursor: pointer;

}
.link,.sendMsg,.export,.delAct{
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.link:hover,.sendMsg:hover,.export:hover,.delAct:hover{
	color: red;
}