body{
	color:#222;
	-webkit-text-size-adjust:none;
	 overflow-x: hidden;margin:0; 
	 padding:0;
	}
#menu-trigger {
     display:block; 
     font-size: 20px;
     padding:0 20px;
     z-index:99999999; 
     display: inline-block;
     height:60px;
     line-height: 60px
  }
.head {
     width:100%;
     height:60px;
     background:#f8f8f8; 

 }
 .fa{
     font-size: 20px;
     color: black;
     display: inline-block;
     
 }
 .fa-envelope,.fa-credit-card,.fa-cogs,.fa-cutlery{
    margin-right: 15px;
 }
.dash{
     font-size: 20px;
     /*font-weight: bold;*/
}
#menu-trigger:hover{
  background-color: lightgrey;
}
.floa{
    float: right;
}
.user{
   width: 150px;
   height: 60px;
   color: black;
   font-size: 20px;
   display: inline-block;
   float: right;
}
.nav>li:hover .dropdown-menu{
   display: block;
   text-align: center;
   border-top: 1px solid white;
}
.nav>li>a:hover{
   background-color: white;
}
.sild{
  height: 90%;
}
.out {
  height: 160px;
  width: 90%;
  background-color: #408ec0;
  border-radius: 15px;
  margin:5% auto;
   }
.inner{
    height: 160px;
    float: left;
    width: 25%;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.top{
  font-size: 40px;
}
.bottom{
  font-size: 20px;
}
.head, .dLeft, .sild, .footer { 
	position:relative; 
	left:0; 
	-webkit-transition:left 0.3s;
	 -moz-transition:left 0.3s;
	  transition:left 0.3s;}
.dLeft { 
  width:200px;
  height:100%;
  position:fixed; 
  left:-200px; 
  top:0;
  background:#cdd;
}
.mobile-left{
	left:200px;
}
.mobile-menu-left{
	left:0px;
}
.menuheader{
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.solve{
  font-size: 20px;
  height: 40px;
  padding-left: 30px;
  width: 100%;
  color: white;
  display: block;
  cursor: pointer;
  margin-bottom:  20px;
}
.inner:hover{
  background-color: #408bb0;
  border-radius: 15px;

}