<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<base href="<?php  echo base_url();?>"/> 
		<meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
		<title>校园卡丢失查询 - 深大百科</title>
		<link rel="stylesheet" type='text/css' href="./search.css">
	</head>
	<body>
		<p class="pStyle">
			校园卡丢失查询
		</p>
		<div class="sStyle">
			<form method="post" >
				<input class="searchbar" type="text" value="请输入你的学号" onfocus="searchbar(this)"></input>
				<input class="searchbtn" type="submit" value="搜索"></input>
			</form>

		</div>
		<div class="rStyle">
			<span class="para1">捡到校园卡的请戳这里-----> </span>
			<a href="./pickup.html" class="para2">拾获校园卡登记</a>
		</div>

		<table>
			<tr>
			<td>时间</td>
			<td>卡号</td>
			<td>详情</td>
			</tr>
		</table>
		<script language="javascript">
			function searchbar(obj){
				if(obj.value=="请输入你的学号"){
					obj.value="";
				}
			}

		</script>
		
	</body>
</html>


